.lane {
  &_container {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    border-radius: 11px;
    padding: 15px 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
  }
  &_progress_bar {
    background: linear-gradient(90deg, #a8e4e8, #a8e4e8) no-repeat;
    transition: 0.7s;
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
  }
  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .icons_container {
      img {
        margin-left: 17px;
      }
    }
  }

  &_data_container {
    display: flex;
    padding-top: 24px;
    .unit {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 auto;
      padding: 0 10px;

      img {
        width: 50px;
        padding-bottom: 7px;
        max-width: 100%;
      }
    }
  }
  &_data_container.disabled {
    img {
      opacity: 0.15;
    }
  }
}
