.resetMargin {
  margin: 0;
}

.nav_header {
  font-family: var(--font-medium);
  font-size: 24px;
}

.sub_header {
  font-family: var(--font-medium);
  font-size: 18px;
  color: var(--font-color-half-black);
}
