.container {
}

.color {
  &_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_row {
    display: flex;
    justify-content: space-between;
    &_text {
      align-self: center;
    }
  }
}
