.body_template {
  flex: 1 1 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 15px 13px 0 13px;
  &_container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 1;
    .tracks_list {
      margin: 32px 16px;
      > * {
        margin-bottom: 24px;
      }
    }
  }
  &_buttons_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
    margin: -5px;
    > * {
      margin: 5px;
      flex: 1 1 140px;
    }
  }
}
